body {
  margin-left: 52px;
  margin-top: 60px;
  background-color: #1F2937;
}

h1 {
  margin: 0px;
  font-family: 'Karla';
}

#h1-top {
  color: white;
}

#h1-bottom {
  color: #10B981;
}

p {
  color: #D5D4D8;
  margin: 0px;
  margin-top: 5px;
  font-size: 17px;
  font-weight: lighter;
}

button {
  background-color: #10B981;
  color: #FFFFFF;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
}
