body {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#body {
  border: 3px solid #2a3648;
  border-radius: 6px;
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  height: 600px;
  text-align: center;
}

h1 {
  margin: 0px;
  font-family: 'Karla';
  font-size: 80px;
}

#h1-top {
  color: white;
}

#h1-bottom {
  color: #10B981;
  text-decoration: underline;
}

p {
  color: #D5D4D8;
  margin: 0px;
  margin-top: 8px;
  font-size: 22px;
  font-weight: lighter;
}

button {
  background-color: #10B981;
  color: #FFFFFF;
  border-style: none;
  border-radius: 5px;
  padding: 18px;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
  font-size: 15px;
}

.password-suggestion {
  background-color: #273549;
  border-radius: 4px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 90px;
  font-size: 45px;
}

.suggestion {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.description {
  font-size: 35px;
  padding-top: 10px;
}

.generate-btn {
  padding: 30px 50px;
  font-size: 40px;
  margin-top: 70px;
}

button i {
  font-size: 60px;
}

.copy-btn {
  background: transparent;
}

.copy-btn:active {
  color: #10B981;
}

@media (min-width: 1000px) {
  #body {
    width: 700px;
    height: 300px;
    padding-top: 70px;
    padding-bottom: 150px;
  }

  h1 {
    font-size: 50px;
  }

  .description {
    font-size: 20px;
    margin-top: 20px;
  }

  .generate-btn {
    padding: 15px 35px;
    font-size: 30px;
    margin-top: 35px;
  }

  .password-suggestion {
    width: 70%;
    height: 50px;
    font-size: 25px;
  }

  button i {
    font-size: 25px;
  }

  .copy-btn {
    padding: 0;
    margin-left: 10px;
  }

  .suggestion {
    margin-top: 10px;
  }
}
